<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>

    <p *ngIf="status!='success'">
        Crear una categoria para el blog
    </p>
    <hr>



    <div class="btn btn-success col-md-5" *ngIf="status=='success'">
        El usuario se ha editado correctamente <a [routerLink]="['/inicio']">|Volver a Inicio</a>
    </div>


    <div class="btn btn-danger col-md-5" *ngIf="status=='error'">
        El usuario no se ha registrado vuelve a intentarlo
    </div>


    <!-- Formulario de crear categoria -->
    <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" class="col-md-5">
        <div class="form_group">
            <label for="name">Nombre de categoria</label>
            <input type="text" class="form-control" #name="ngModel" [(ngModel)]="category.name" name="name" required> 
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre de la categoria no es valido
            </small>
        </div>
        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="categoryForm.invalid">
    </form>
    
    <br>
</div>