<!-- Pegar la Navbar de Bootstrap -->


<div class="container">
  <!-- Contenedor Principal -->
  <br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <!-- Barra de navegacion -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/angular.png" width="30" height="30" alt="">
      NG Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class=" navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>

        <!-- Listar las categorias en el menu con FOR -->
        <li class="nav-item" *ngFor="let category of categories">
          <!-- Categorias -->
          <a class="nav-link" [routerLink]="['categoria',category.id]">{{category.name}}</a>
        </li>

      </ul>

      
      <!-- Mostrar esta parte del menu si el usuario NO esta identificado con el condicional *ngIf="" -->
      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>
        </li>
      </ul>

      <!-- Mostrar esta parte del menu si el usuario esta identificado con el condicional *ngIf="" -->
      <ul class=" navbar-nav navbar-right" *ngIf="identity && identity.name">
        <!-- Comprobar si el usuario ya tiene imagen y si la tiene mostrar -->
        <li *ngIf="identity && identity.image" class="nav-item">
          <div class="avatar_mask">

            <img src="{{url+'user/avatar/'+identity.image}}" class="avatar-nav">
          </div>
      </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <!-- Imprimir los nombres de usuario de acuerdo al login -->
            {{identity.name+' '+identity.surname}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/crear-entrada']">Crear Entrada</a>
            <a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear Categoria</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/mi-perfil',identity.sub]">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
          </div>
        </li>

      </ul>



    </div>
    <!-- Fin Barra de navegacion -->
  </nav>
  <!-- CONTENIDO DE COMPONENTES -->
  <router-outlet></router-outlet>
  <footer>
    <hr>
    FullStack &copy;
    <hr>
  </footer>
 

  <!-- Fin Contenedor principal -->
</div>